.activePhong{
    background-color: #ddd !important;
    font-weight: bold;
}

button, a.btn{
    border-radius: 0px !important;
}

input{
    border-radius: 0 !important;
}
.hidden-span{
    display: none;
}
