.activePhong{
    background-color: #ddd !important;
    font-weight: 600;
}

button, a.btn{
    border-radius: 0px !important;
}

input{
    border-radius: 0 !important;
}

select{
    border-radius: 0 !important;
}
.hidden-span{
    display: none;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background: #808080;
    outline: 0;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

input{
    border-radius:0;
}
