
@{
    Layout = null;
}

<script src="~/Scripts/chinhlytailieu/importdulieu/importhoso.js"></script>
 <!-- Page Content -->
<div class="page-content" ng-controller="importhosoController">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                Chỉnh lý tài liệu
            </li>
            <li>
                Import tài liệu
            </li>
            <li class="active">Import hồ sơ</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Body -->
    <div class="page-body" style="margin-top: 0;">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-body">
                        <div class="flip-scroll">
                            <div id="simpledatatable_wrapper">
                                <div class="row">
                                    <div class="col-md-12" style="border-bottom: 1px solid #ddd; margin-bottom: 10px;">
                                        <label style="font-size: 16px;">Import hồ sơ</label>
                                        <a href="" class="pull-right">
                                            <i class="fa fa-question-circle"></i>Hướng dẫn
                                        </a>
                                    </div>

                                    <div class="col-md-4 col-xs-12" style="border-right: 1px solid #eee;">
                                        <div class="row">
                                            <div class="form-group col-md-12" style="margin-bottom: 5px;padding-left:0">
                                                <div class="col-sm-3 col-xs-12">
                                                    <label class="">Phông</label>
                                                </div>
                                                <div class="col-sm-9" style="padding: 0;">
                                                    <select name="selectphong" class="col-md-12">
                                                        <option value="">--Chọn phông tài liệu--</option>
                                                        <option value="{{n.ID}}" ng-repeat="n in danhsachphong">{{n.TENPHONG}}</option>
                                                    </select>
                                                </div>
                                                
                                            </div>
                                            <div class="form-group col-md-12" style="margin-bottom: 5px;padding-left:0">
                                                <div class="col-sm-3 col-xs-12">
                                                    <label class="">Mục lục</label>
                                                </div>
                                                <div class="col-sm-9" style="padding: 0;">
                                                    <select name="" id="" class="col-md-12 col-xs-12">
                                                        <option value="">Bộ công chánh</option>
                                                        <option value=""></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <h5>Chọn file</h5>
                                        @*<div class="well" style="border:dotted 3px lightgray;">
                                            Kéo thả tệp vào đây
                                        </div>*@
                                        <input type="file" class="form-control" name="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" onchange="angular.element(this).scope().UploadFiles(this.files)" />
                                    </div>

                                    <div class="col-md-8 col-xs-12">
                                        <div class="" style="margin-bottom: 10px;">
                                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
                                                <i class="fa fa-file"></i>Ghi nhận dữ liệu
                                            </button>
                                        </div>
                                        <div class="" style="height: 300px;overflow: auto;">
                                            <table class="table table-hover table-bordered table-striped table-condensed flip-content">
                                                <thead class="flip-content bordered-palegreen">
                                                    <tr>
                                                        <th style="width: 5%;">STT</th>
                                                        <th style="width: 20%">Loại</th>
                                                        <th style="width: 20%;">Hồ sơ số</th>
                                                        <th style="">Tiêu đề hồ sơ</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>BGD</td>
                                                        <td>BGD</td>
                                                        <td>Giám đốc</td>
                                                        <td>Giám đốc</td>
                                                    </tr>
                                                    <tr>
                                                        <td>BGD</td>
                                                        <td>BGD</td>
                                                        <td>Giám đốc</td>
                                                        <td>Giám đốc</td>
                                                    </tr>
                                                    <tr>
                                                        <td>BGD</td>
                                                        <td>BGD</td>
                                                        <td>Giám đốc</td>
                                                        <td>Giám đốc</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Page Body -->
</div>
<!-- /Page Content -->