
@{
    Layout = null;
}

<style>
    
</style>

<script src="~/Scripts/chinhlytailieu/importdulieu/importhoso.js"></script>
 <!-- Page Content -->
<div class="page-content" ng-controller="importhosoController">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                Chỉnh lý tài liệu
            </li>
            <li>
                Import tài liệu
            </li>
            <li class="active">Import hồ sơ</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Body -->
    <div class="page-body" style="margin-top: 0;">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-body">
                        <div class="flip-scroll">
                            <div id="simpledatatable_wrapper">
                                <div class="row">
                                    <div class="col-md-12" style="border-bottom: 1px solid #ddd; margin-bottom: 10px;">
                                        <label style="font-size: 16px;">Import hồ sơ</label>
                                        <a href="" class="pull-right">
                                            <i class="fa fa-question-circle"></i>Hướng dẫn
                                        </a>
                                    </div>

                                    <div class="col-md-3 col-xs-12" style="border-right: 1px solid #eee;">
                                        <div class="row">
                                            <div class="form-group col-md-12" style="margin-bottom: 5px;padding-left:0">
                                                <div class="col-sm-3 col-xs-12">
                                                    <label class="">Phông</label>
                                                </div>
                                                <div class="col-sm-9" style="padding: 0;">
                                                    <select name="selectphong" class="col-md-12" ng-change="loadmucluc()" ng-model="phong">
                                                        <option value="" disabled>--Chọn phông tài liệu--</option>
                                                        <option value="{{n.ID}}" ng-repeat="n in danhsachphong">{{n.TENPHONG}}</option>
                                                    </select>
                                                </div>
                                                
                                            </div>
                                            <div class="form-group col-md-12" style="margin-bottom: 5px;padding-left:0">
                                                <div class="col-sm-3 col-xs-12">
                                                    <label class="">Mục lục</label>
                                                </div>
                                                <div class="col-sm-9" style="padding: 0;">
                                                    <select name="selectmucluc" class="col-md-12 col-xs-12" ng-model="v.mucluc">
                                                        <option value="" disabled>--Chọn mục lục--</option>
                                                        <option class="rowmucluc" ng-repeat="u in danhsachmucluc" id="ml{{u.ID}}" value="{{u.ID}}">{{u.TENMUCLUC}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <h5>Chọn file</h5>
                                        @*<div class="well" style="border:dotted 3px lightgray;">
                                            Kéo thả tệp vào đây
                                        </div>*@
                                        <input type="file" class="form-control" name="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" onchange="angular.element(this).scope().UploadFiles(this.files)" />
                                    </div>

                                    <div class="col-md-9 col-xs-12">
                                        <div class="" style="margin-bottom: 10px;">
                                            <button type="button" class="btn btn-primary btn-sm" ng-disabled="disablebtn" ng-click="insertData()">
                                                <i class="fa fa-file"></i>Ghi nhận dữ liệu
                                            </button>
                                            @*<div>Import thành công 5/5 hồ sơ</div>*@
                                            <div class="pull-right">Tổng số hồ sơ: {{totalresult}}</div>
                                        </div>
                                        <div class="" style="height:450px;overflow-y:auto;overflow-x:hidden">
                                            <table class="table table-hover table-bordered table-striped table-condensed flip-content table-fixed">
                                                <thead class="flip-content bordered-palegreen">
                                                    <tr>
                                                        <th style="width: 70px;">Hồ sơ số</th>
                                                        <th style="">Tiêu đề hồ sơ</th>
                                                        <th style="">Loại</th>
                                                        <th style="">Ghi chú</th>
                                                        
                                                        
                                                        
                                                    </tr>
                                                </thead>
                                                <tbody style="">
                                                    <tr ng-repeat="n in danhsachhoso">
                                                        <td>{{n.Mahoso}}</td>
                                                        <td>{{n.Tenhoso}}</td>
                                                        <td>{{n.Loaitl}}</td>
                                                        <td>{{n.Ghichu}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Page Body -->
</div>
<!-- /Page Content -->