
@{
    ViewBag.Title = "lapkehoachchinhly";
    Layout = Layout = null;
}

<style>
    .activePhong {
        background-color: #ddd !important;
        font-weight: bold;
    }
    .rowkehoach:hover{
        background-color: #ddd !important;
    }
</style>

@*<script src="~/Scripts/chinhlytailieu/lapkehoachchinhly/lapkehoachchinhly.js"></script>*@
 <!-- Page Content -->
<div class="page-content" ng-controller="lapkehoachchinhlyController">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">Chỉnh lý tài liệu</a>
            </li>
            <li>
                <a href="#">Lập kế hoạch chỉnh lý</a>
            </li>
            <li class="active">Lập kế hoạch chỉnh lý</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Body -->
    <div class="page-body" style="margin-top: 0;">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-body">
                        <div class="flip-scroll">
                            <div id="simpledatatable_wrapper">
                                <div class="flip-scroll">
                                    <div id="simpledatatable_wrapper">
                                        <div class="row">
                                            <div class="col-md-12" style="border-bottom: 1px solid #ddd; margin-bottom: 10px;">
                                                <label style="font-size: 16px;">Kế hoạch chỉnh lý</label>
                                            </div>

                                            <div class="col-md-12 col-xs-12">
                                                <div class="" style="margin-bottom: 10px;">
                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-click="modal('add')">
                                                        <i class="glyphicon glyphicon-file"></i>Thêm mới
                                                    </button>
                                                    <!-- Modal them -->
                                                    <div class="modal fade" id="myModal" role="dialog">
                                                        <div class="modal-dialog modal-lg">
                                                            <!-- Modal content-->
                                                            <div class="modal-content">
                                                                <form action="" name="formkehoach">
                                                                    <div class="modal-header">
                                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                        <h4 class="modal-title">{{titleKh}}</h4>
                                                                    </div>
                                                                    <div class="modal-body" style="min-height: 230px;">
                                                                        <div class="collapse in">
                                                                            <div class="form-group col-md-12">
                                                                                <div class="col-sm-2 col-xs-12">
                                                                                    <label for="" class="control-label pull-right">Tên cơ quan</label>
                                                                                </div>
                                                                                <div class="col-sm-4">
                                                                                    <select name="" id="select_coquan" class="col-sm-12 col-xs-12" ng-disabled="true">
                                                                                        <option value="">--Cơ quan--</option>
                                                                                    </select>
                                                                                </div>

                                                                                <div class="col-sm-2 col-xs-12">
                                                                                    <label for="" class="control-label pull-right">Năm(*)</label>
                                                                                </div>
                                                                                <div class="col-sm-4">
                                                                                    <input type="number" class="form-control" name="txtnam" placeholder="Năm" ng-model="k.nam" ng-required="true">
                                                                                    <span style="color:red;" ng-show="formkehoach.txtnam.$touched && formkehoach.txtnam.$invalid">Năm không được để trống</span>
                                                                                </div>
                                                                            </div>

                                                                            <div class="form-group col-md-12">
                                                                                <div class="col-sm-2 col-xs-12">
                                                                                    <label for="" class="control-label pull-right">Phông</label>
                                                                                </div>
                                                                                <div class="col-sm-4">
                                                                                    <select name="selectphong" id="" class="col-sm-12 col-xs-12" ng-model="k.phongid" ng-change="loadtenphong()">
                                                                                        <option value="">--Chọn phông--</option>
                                                                                        <option class="opphong" id="{{n.ID}}" ng-repeat="n in danhsachphong" value="{{n.ID}}">{{n.TENPHONG}}</option>
                                                                                    </select>
                                                                                </div>

                                                                                <div class="col-sm-2 col-xs-12">
                                                                                    <label for="" class="control-label pull-right">Giai đoạn(*)</label>
                                                                                </div>
                                                                                <div class="col-sm-4">
                                                                                    <input type="text" class="form-control" name="txtgiaidoan" placeholder="Giai đoạn" ng-model="k.giaidoan" ng-required="true">
                                                                                    <span style="color:red;" ng-show="formkehoach.txtgiaidoan.$touched && formkehoach.txtgiaidoan.$invalid">Mục đích không được để trống</span>
                                                                                </div>
                                                                            </div>

                                                                            <div class="form-group col-md-12">
                                                                                <div class="col-sm-2 col-xs-12">
                                                                                    <label for="" class="control-label pull-right">Mục đích(*)</label>
                                                                                </div>
                                                                                <div class="col-sm-10">
                                                                                    <textarea class="col-md-12 col-xs-12" name="txtmucdich" placeholder="Mục đích" ng-model="k.mucdich" ng-required="true"></textarea>
                                                                                    <span style="color:red;" ng-show="formkehoach.txtmucdich.$touched && formkehoach.txtmucdich.$invalid">Mục đích không được để trống</span>
                                                                                </div>
                                                                            </div>

                                                                            <div class="form-group col-md-12">
                                                                                <div class="col-sm-2 col-xs-12">
                                                                                    <label for="" class="control-label pull-right">Ghi chú</label>
                                                                                </div>
                                                                                <div class="col-sm-10">
                                                                                    <textarea class="col-md-12 col-xs-12" placeholder="Ghi chú" ng-model="k.ghichu"></textarea>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-primary" data-toggle="modal" ng-disabled="formkehoach.$invalid" ng-click="savekehoach(state)">
                                                                            <i class="fa fa-save"></i>Ghi nhận
                                                                        </button>

                                                                        <button type="button" class="btn btn-warning" data-dismiss="modal">
                                                                            <i class="glyphicon glyphicon-log-in"></i>Thoát
                                                                        </button>
                                                                    </div>
                                                                </form>

                                                            </div>
                                                        </div>
                                                    </div><!-- end Modal them -->

                                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" ng-disabled="disablesua" ng-click="modal('edit')">
                                                        <i class="fa fa-pencil-square-o"></i>Sửa
                                                    </button>

                                                    <button class="btn btn-danger" ng-disabled="disablesua" ng-click="xoa()">
                                                        <i class="fa fa-times"></i>
                                                        Xóa
                                                    </button>

                                                    <button class="btn btn-info" ng-disabled="disableduyet">
                                                        <i class="fa fa-check"></i>
                                                        Duyệt
                                                    </button>

                                                    @*<button class="btn btn-info">
                                                        <i class="fa fa-check-square-o"></i>
                                                        Chuyển kiểm tra
                                                    </button>*@

                                                </div>
                                                <div class="" style="height: 400px; overflow: auto;">
                                                    <table class="table table-hover table-bordered table-striped table-condensed flip-content">
                                                        <thead class="flip-content bordered-palegreen">
                                                            <tr>
                                                                <th>Năm</th>
                                                                <th style="width: 40%;">Mục đích</th>
                                                                @*<th style="width: 25%;">Tên phông</th>*@
                                                                <th class="text-center">Giai đoạn</th>
                                                                <th>Ghi chú</th>
                                                                <th class="text-center">Đã duyệt</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="rowkehoach" id="kh{{n.ID}}" dir-paginate="n in DSkehoach |itemsPerPage:12" style="cursor:pointer" ng-click="clickkh(n)">
                                                                <td>{{n.NAM}}</td>
                                                                <td>{{n.MUCDICH}}</td>
                                                                @*<td>{{n.TENPHONG}}</td>*@
                                                                <td class="text-center">{{n.GIAIDOAN}}</td>
                                                                <td>{{n.GHICHU}}</td>
                                                                <td class="text-center" ng-if="n.TRANGTHAI == true"><i class="fa fa-check"></i></td>
                                                                <td class="text-center" ng-if="n.TRANGTHAI == false"><i class="glyphicon glyphicon-minus"></i></td>
                                                            </tr>
                                
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <dir-pagination-controls max-size="12" direction-links="true" boundary-links="true"></dir-pagination-controls>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Page Body -->
</div>
<!-- /Page Content -->

