
@{
    ViewBag.Title = "nhaphoso";
    Layout = null;
}

<style>
    .activePhong {
        background-color: #ddd !important;
        font-weight: bold;
    }
    .rowhoso:hover{
        background-color: #ddd !important;
    }
    input{
        border-radius: 0px !important;
    }
    button, a.btn{
        border-radius: 0px !important;
    }
    ul.phantrang_tuychon{
        list-style-type: none;
    }
    ul.phantrang_tuychon li{
        float: right;
    }
    .tim:hover{
        color: blue;
        font-weight: 500;
        cursor: pointer;
    }
    .icon-xoa:hover{
        color: red;
        cursor:pointer;
        font-weight: 500;
        border-radius:50%;
    }
</style>
 <!-- Page Content -->
<div class="page-content" ng-controller="nhaphosoController">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">Chỉnh lý tài liệu</a>
            </li>
            <li>
                <a href="#">Biên mục</a>
            </li>
            <li class="active">Nhập hồ sơ chỉnh lý</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Body -->
    <div class="page-body" style="margin-top: 0;">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-body">
                        <div class="flip-scroll">
                            <div id="simpledatatable_wrapper">
                                <div class="flip-scroll">
                                    <div id="simpledatatable_wrapper">
                                        <div class="row">
                                            <div class="col-md-12" style="border-bottom: 1px solid #ddd; margin-bottom: 10px;">
                                                <label style="font-size: 16px;">Danh sách hồ sơ</label>
                                                <a href="" class="pull-right">
                                                    <i class="fa fa-question-circle"></i> Hướng dẫn
                                                </a>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-md-12" style="margin-bottom:0;">
                                                    @*<label for="" class="control-label pull-left" style="margin-top: 8px;margin-left:15px;">Phông tài liệu</label>*@
                                                    <div class="col-sm-4">
                                                        <select name="selectphong" id="" class="col-xs-12" ng-change="loadMucluc()" ng-model="selectphong">
                                                            <option value="" disabled>--Chọn phông--</option>
                                                            <option ng-repeat="n in danhsachphong" value="{{n.ID}}">{{n.TENPHONG}}</option>
                                                        </select>
                                                    </div>

                                                    <div class="col-md-8" style="margin-bottom: 10px;">
                                                        @*<div class="col-md-5" style="padding-left:0;">
                                                            <input style="width:100%;" class="form-control" placeholder="Tìm kiếm hồ sơ" ng-model="textSearch" ng-change="search_hoso()" />
                                                        </div>*@
                                                        <div class="col-md-5">
                                                            <div class="form-group">
                                                                <span class="input-icon icon-right">
                                                                    <input id="txtsearch" type="text" class="form-control" placeholder="Tìm kiếm hồ sơ" ng-model="textSearch" ng-change="search_hoso()">
                                                                    <i ng-if="flag_icon" class="fa fa-times icon-xoa" style="margin-right:20px;" title="Hủy tìm kiếm" ng-click="delete_text()"></i>
                                                                    <i class="fa fa-search tim" title="Tìm kiếm" ng-click="timkiemhoso()"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-7" style="padding-right:0;">
                                                            <a href="#!nhaphoso/them" class="btn btn-primary">
                                                                <i class="fa fa-file"></i>Thêm mới
                                                            </a>

                                                            <a href="" class="btn btn-primary" id="btnsuahoso" ng-click="suahoso()">
                                                                <i class="fa fa-pencil-square-o"></i>Sửa
                                                            </a>

                                                            <button class="btn btn-danger" ng-disabled="disablebtn" ng-click="deleteHoso()">
                                                                <i class="fa fa-times"></i>
                                                                Xóa
                                                            </button>

                                                            <a href="#!/xephosovaohop" class="btn btn-info pull-right hidden-sm" ng-disabled="disablebtn">
                                                                <i class="fa fa-inbox"></i>
                                                                Xếp vào hộp
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            @*<div class="col-md-12">
                                                <div class="" style="margin-bottom: 10px;">
                                                    <a href="#!nhaphoso/them" class="btn btn-primary">
                                                        <i class="fa fa-file"></i>Thêm mới
                                                    </a>

                                                    <a href="#!nhaphoso/them" class="btn btn-primary" id="btnsuahoso">
                                                        <i class="fa fa-pencil-square-o"></i>Sửa
                                                    </a>

                                                    <button class="btn btn-danger" ng-disabled="disablebtn" ng-click="deleteHoso()">
                                                        <i class="fa fa-times"></i>
                                                        Xóa
                                                    </button>

                                                    <a href="#!/xephosovaohop" class="btn btn-info" ng-disabled="disablebtn">
                                                        <i class="fa fa-inbox"></i>
                                                        Xếp vào hộp
                                                    </a>

                                                    
                                                    <div class="col-md-3" style="padding-left:0;">
                                                        <input class="form-control" placeholder="Tìm kiếm hồ sơ" ng-model="textTimHoSo"/>
                                                    </div>

                                                </div>
                                            </div>*@

                                            <div class="col-md-12 col-xs-12">

                                                <div style="height: 400px; overflow: auto;margin-bottom:5px;">
                                                    <table class="table table-hover table-bordered table-striped table-condensed flip-content">
                                                        <thead class="flip-content bordered-palegreen">
                                                            <tr>
                                                                <th style="width:100px;text-align:center">Hộp số</th>
                                                                <th style="width: 100px;text-align:center">Hồ sơ số</th>
                                                                <th style="width: 45%;">Tiêu đề hồ sơ</th>
                                                                <th>Thời gian BĐ-KT</th>
                                                                <th style="text-align:center">SL tờ</th>
                                                                
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr style="cursor:pointer" class="rowhoso" ng-repeat="u in danhsachhoso" ng-click="clickchonhoso(u)" id="{{u.ID}}">
                                                                <td style="text-align:center">{{u.MAHOP}}</td>
                                                                <td style="text-align:center">{{u.MAHOSO}}</td>
                                                                <td>{{u.TENHOSO}}</td>
                                                                <td>{{u.THOIGIANS}} - {{u.THOIGIANE}}</td>
                                                                <td style="text-align:center">{{u.SLTO}}</td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                    
                                                </div>
                                                <div class="row" ng-if="select_phong">
                                                    <div class="col-md-8">
                                                        <ul uib-pagination total-items="total" ng-change="page_Changed()" ng-model="pagination.pageIndex" max-size="12" items-per-page="pagination.pageSize" next-text="›" previous-text="‹" boundary-link-numbers="true"></ul>
                                                    </div>
                                                    
                                                    <div class="col-md-4">
                                                        <ul class="phantrang_tuychon">
                                                            <li>
                                                                <label class="">Hiển thị</label>
                                                                <select name="selecthienthi" ng-model="page_Size" ng-options="n for n in arrhienthi" ng-change="change_hienthi(page_Size)">
                                                                    @*<option value="">10</option>*@
                                                                    @*<option ng-repeat="n in arrhienthi" value="{{n}}" ng-click="change_hienthi()">{{n}}</option>*@
                                                                </select>
                                                            </li>
                                                            <li style="padding-top: 7px;margin-right:20px;">Tổng số hồ sơ: <b>{{total}}</b></li>
                                                        </ul>
                                                        @*<div class="col-md-5"><label style="padding-top: 5px;">Tổng số hồ sơ: {{total}}</label></div>
                                                        <div class="col-md-7">
                                                            <label>Hiển thị</label>
                                                            <select>
                                                                <option value="10">10</option>
                                                                <option value="20">20</option>
                                                            </select>
                                                        </div>*@
                                                    </div>
                                                </div>
                                                @*<dir-pagination-controls max-size="6" direction-links="true" boundary-links="true"></dir-pagination-controls>*@
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript">
        
    </script>
    <!-- /Page Body -->
</div>
<!-- /Page Content -->

