

@{
    Layout = null;
}
<script src="~/Scripts/chinhlytailieu/timkiem/timkiemvanbannangcao.js"></script>

<style>
    .tenhoso {
        font-size: 15px;
        font-weight: normal;
        width: 640px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        height: 18px;
        margin-bottom: 0;
    }

    .chitiethoso {
        font-weight: bold;
        text-align: justify;
    }

    .row-chitiet {
        border-bottom: 1px solid #ddd;
    }

    .timhsnac {
        padding-left: 0;
        padding-right: 0;
    }
</style>

<div class="page-content" ng-controller="timkiemvanbannangcaoController">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                Chỉnh lý tài liệu
            </li>
            <li>
                Tìm kiếm
            </li>
            <li class="active">Tìm kiếm văn bản nâng cao</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Body -->
    <div class="page-body" style="margin-top: 0;">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-body">
                        <div class="flip-scroll">
                            <div id="simpledatatable_wrapper">
                                <div class="row">
                                    <div class="col-md-12 col-xs-12">
                                        <div class="col-md-12" style="border-bottom: 1px solid #ddd; margin-bottom: 10px;padding-left:0">
                                            <label style="font-size: 16px;">Tìm kiếm văn bản nâng cao</label>
                                        </div>
                                        <div class="" style="">
                                            <form class="col-md-10" style="padding-left:0;">
                                                <div class="form-group col-md-12 timhsnac" style="padding-left:0;">
                                                    <label class="col-sm-2">Phông</label>
                                                    <div class="col-sm-4">
                                                        <select name="selectphong" class="col-md-12">
                                                            <option value="">--Tất cả--</option>
                                                            <option value="{{n.ID}}" ng-repeat="n in danhsachphong">{{n.TENPHONG}}</option>
                                                        </select>
                                                    </div>

                                                    <label class="col-sm-2">Loại tài liệu</label>
                                                    <div class="col-sm-4">
                                                        <select name="selectloaitl" class="col-md-12">
                                                            <option value="">--Tất cả--</option>
                                                            <option value="HC">Tài liệu hành chính</option>
                                                            <option value="10 năm">10 năm</option>
                                                            <option value="Lâu dài">Lâu dài</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group col-md-12 timhsnac">
                                                    <label class="col-sm-2">Số ký hiệu</label>
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control" placeholder="Số kí hiệu" ng-model="sokyhieu">
                                                    </div>

                                                    <label class="col-sm-2">Trích yếu</label>
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control" placeholder="Trích yếu" ng-model="trichyeu">
                                                    </div>
                                                </div>

                                                <div class="form-group col-md-12 timhsnac">
                                                    <label class="col-sm-2">Thời gian</label>
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control" placeholder="Thời gian" ng-model="thoigian">
                                                    </div>

                                                    <label class="col-sm-2">Tác giả</label>
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control" placeholder="Tác giả" ng-model="tacgia">
                                                    </div>
                                                </div>

                                                <div class="form-group col-md-12 timhsnac">
                                                    <button type="submit" class="btn btn-primary pull-right" style="margin-right: 15px;" ng-click="timkiemvanbannangcao()">
                                                        <i class="fa fa-search-plus"></i>Tìm kiếm
                                                    </button>
                                                </div>
                                            </form>

                                            <div class="col-md-2">
                                                <h4 class="text-center"><i class="fa fa-wrench"></i> Công cụ</h4>
                                                <div class="">
                                                    <ul style="list-style: none; padding: 0;font-family:'Open Sans'">

                                                        @*<li style="margin-bottom: 10px; padding-left: 10px;">
                                                            <a href="" style="font-size: 15px;">
                                                                <i class="fa fa-save"> Lưu tìm kiếm</i>
                                                            </a>
                                                        </li>*@

                                                        <li style="margin-bottom: 10px; padding-left: 10px;">
                                                            <a href="#!/timkiemvanban" style="font-size: 12px;font-family:'Open Sans'">
                                                                <i class="fa fa-search"></i> Tìm kiếm văn bản
                                                            </a>
                                                        </li>

                                                        <li style="margin-bottom: 10px; padding-left: 10px;">
                                                            <a href="#!/timkiemhoso" style="font-size: 12px;">
                                                                <i class="fa fa-search-plus"></i>Tìm kiếm hồ sơ
                                                            </a>
                                                        </li>
                                                        @*<li style="margin-bottom: 10px; padding-left: 10px;">
                                                            <a href="#!/timkiemhosonangcao" style="font-size: 12px;">
                                                                <i class="fa fa-search-plus"></i>Tìm kiếm hồ sơ nâng cao
                                                            </a>
                                                        </li>*@
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <label for="">Có khoảng: <span><b>{{totalresult}}</b></span> kết quả</label>
                                            </div>
                                            <div class="col-md-12" style="overflow: auto; min-height: 500px;">
                                                <div class="col-md-10" style="border-right: 1px dotted #ddd;">
                                                    <ul style="list-style: none; padding: 0; min-height: 430px;">
                                                        @*<li>Không tìm thấy</li>*@
                                                        <li style="border-bottom: 1px dotted #ddd;" dir-paginate="n in danhsachketquavb |itemsPerPage:10">
                                                            <span class="pull-left" style="min-height:100px;margin-right: 10px;padding-top:20px">
                                                                <i class="fa fa-file-text-o" style="font-size: 73px;"></i>
                                                            </span>

                                                            <div class="pull-right" style="display: inline-block;">
                                                                <a href="#" style="margin-top: 8px;" class="btn btn-blue btn-sm">In phiếu yêu cầu</a>
                                                            </div>

                                                            <div class="text">
                                                                <a href="" style="display:inline-block" data-toggle="modal" data-target="#myModal" ng-click="xemchitiet(n)">
                                                                    <h4 class="tenhoso" id="tenhs" style="font-weight:600 !important">{{n.TRICHYEU}}</h4>
                                                                </a>
                                                                @*<span style="font-size:14px;display:inline-block">{{ (doimauchu(n.TENHOSO,keyword)) }}</span>*@
                                                                <p>
                                                                    Số ký hiệu: <span id="mucluc">{{ n.SOKYHIEU }}</span>
                                                                    | Ngày tháng: <span id="mucluc">{{ n.THOIGIAN }}</span>
                                                                    <br>
                                                                    Tác giả: <span>{{n.TACGIA}}</span>
                                                                    <br />
                                                                    <span style="width:630px;display:block;text-overflow:ellipsis;white-space:nowrap;overflow:hidden">
                                                                        Hồ sơ số: <span id="hososo">{{ n.MAHOSO }}</span> |
                                                                        <a style="text-decoration:none;"><span style="color:#444">Phông: </span>{{n.TENPHONG}}</a>
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        </li>
                                                    </ul>

                                                    <dir-pagination-controls max-size="15" direction-links="true" boundary-links="true"></dir-pagination-controls>
                                                    <!-- Modal thong tin ho so -->
                                                    <div class="modal fade" id="myModal" role="dialog">
                                                        <div class="modal-dialog modal-lg">
                                                            <!-- Modal content-->
                                                            <div class="modal-content">
                                                                <form action="" name="formMucLuc">
                                                                    <div class="modal-header">
                                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                        <h4 class="modal-title">Thông tin hồ sơ</h4>
                                                                    </div>
                                                                    <div class="modal-body" style="min-height: 373px;display:inline-block;">
                                                                        <div class="collapse in">
                                                                            <div class="form-group col-md-12 row-chitiet">
                                                                                <div class="col-sm-2 col-xs-12">
                                                                                    <label for="" class="control-label">Số ký hiệu: </label>
                                                                                </div>
                                                                                <div class="col-sm-10">
                                                                                    <label class="chitiethoso">{{SOKYHIEU}}</label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group col-md-12 row-chitiet">
                                                                                <div class="col-sm-2 col-xs-12">
                                                                                    <label for="" class="control-label">Trích yếu: </label>
                                                                                </div>
                                                                                <div class="col-sm-10">
                                                                                    <label class="chitiethoso">{{TRICHYEU}}</label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group col-md-12 row-chitiet">
                                                                                <div class="col-sm-2 col-xs-12">
                                                                                    <label for="" class="control-label">Tác giả: </label>
                                                                                </div>
                                                                                <div class="col-sm-10">
                                                                                    <label class="chitiethoso">{{TACGIA}}</label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group col-md-12 row-chitiet">
                                                                                <div class="col-sm-2 col-xs-12">
                                                                                    <label for="" class="control-label">Thời gian: </label>
                                                                                </div>
                                                                                <div class="col-sm-10">
                                                                                    <label class="chitiethoso">{{THOIGIAN}}</label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group col-md-12 row-chitiet">
                                                                                <div class="col-sm-2 col-xs-12">
                                                                                    <label for="" class="control-label">Phông: </label>
                                                                                </div>
                                                                                <div class="col-sm-10">
                                                                                    <label class="chitiethoso">{{phong}}</label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group col-md-12 row-chitiet">
                                                                                <div class="col-sm-2 col-xs-12">
                                                                                    <label for="" class="control-label">Hộp số: </label>
                                                                                </div>
                                                                                <div class="col-sm-10">
                                                                                    <label class="chitiethoso">{{MAHOP}}</label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group col-md-12 row-chitiet">
                                                                                <div class="col-sm-2 col-xs-12">
                                                                                    <label for="" class="control-label">Hồ sơ số: </label>
                                                                                </div>
                                                                                <div class="col-sm-10">
                                                                                    <label class="chitiethoso">{{MAHOSO}}</label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group col-md-12">
                                                                                <div class="col-sm-2 col-xs-12">
                                                                                    <label for="" class="control-label">Ghi chú: </label>
                                                                                </div>
                                                                                <div class="col-sm-10">
                                                                                    <label class="chitiethoso">{{GHICHU}}</label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-warning" data-dismiss="modal">
                                                                            <i class="glyphicon glyphicon-log-in"></i>Thoát
                                                                        </button>
                                                                    </div>
                                                                </form>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- end Modal thong tin ho so -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Page Body -->
</div>
