
@{
    Layout = null;
}

<style>
    .tenhoso{
        font-size: 15px; 
        font-weight: normal;
        width: 640px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        height:18px;
        margin-bottom: 0;
    }
</style>

<div class="page-content" ng-controller="timkiemhosoController">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                Chỉnh lý tài liệu
            </li>
            <li>
                Tìm kiếm
            </li>
            <li class="active">Tìm kiếm hố sơ</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Body -->
    <div class="page-body" style="margin-top: 0;">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-body">
                        <div class="flip-scroll">
                            <div id="simpledatatable_wrapper">
                                <div class="row">
                                    <div class="col-md-12 col-xs-12">
                                        <div class="col-md-12" style="border-bottom: 1px solid #ddd; margin-bottom: 10px;">
                                            <label style="font-size: 16px;">Tìm kiếm hồ sơ</label>
                                        </div>
                                        <div class="" style="">
                                            <div class="form-group col-md-10">
                                                <div class="input-group text-center">
                                                    <input type="text" id="txtsearch" class="form-control" aria-label="..." ng-model="textSearch">
                                                    <div class="input-group-btn">
                                                        <button class="btn btn-primary" id="" type="button" ng-click="timkiemhoso()">Tìm kiếm</button>
                                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fa fa-caret-down"></i>
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                            <li><a href="#">Tìm kiếm nâng cao</a></li>
                                                            <li><a href="#">Tìm kiếm hồ sơ</a></li>
                                                            <li><a href="#">Tìm kiếm toàn văn</a></li>
                                                            <li role="separator" class="divider"></li>
                                                            <li><a href="#">Lưu tìm kiếm</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <label for="">Có khoảng: <span><b>{{totalresult}}</b></span> kết quả</label>
                                            </div>
                                            <div class="col-md-12" style="overflow: auto; min-height: 500px;">
                                                <div class="col-md-10" style="border-right: 1px dotted #ddd;">
                                                    <ul style="list-style: none; padding: 0; min-height: 430px;">
                                                        <li style="border-bottom: 1px dotted #ddd;" dir-paginate="n in danhsachketqua |itemsPerPage:10">
                                                            <span class="pull-left" style="min-height:100px;margin-right: 10px;">
                                                                <i class="fa fa-folder-open" style="font-size: 50px;"></i>
                                                            </span>

                                                            <div class="pull-right" style="display: inline-block;">
                                                                <a href="#" style="margin-top: 8px;" class="btn btn-blue btn-sm">In phiếu yêu cầu</a>
                                                            </div>
                                                            
                                                            <div class="text">
                                                                <a href="" style="display:inline-block" data-toggle="modal" data-target="#myModal">
                                                                    <h4 class="tenhoso" id="tenhs" style="font-weight:600 !important">{{n.TENHOSO}}</h4>
                                                                </a>
                                                                @*<span style="font-size:14px;display:inline-block">{{ (doimauchu(n.TENHOSO,keyword)) }}</span>*@
                                                                <p>
                                                                    Mục lục: <span id="mucluc">{{ n.MAMUCLUC }}</span>
                                                                    | Hộp số: <span id="hopso">{{ n.MAHOP }}</span>
                                                                    | Hồ sơ số: <span id="hososo">{{ n.MAHOP }}</span>
                                                                    <br>
                                                                    Thời gian: <span>{{n.THOIGIANS}} đến {{n.THOIGIANE}}</span>
                                                                    <br>
                                                                    Phông: <a style="text-decoration:none">{{n.TENPHONG}}</a>
                                                                </p>
                                                            </div>
                                                        </li>
                                                    </ul>

                                                    <dir-pagination-controls max-size="6" direction-links="true" boundary-links="true"></dir-pagination-controls>
                                                    <!-- Modal thong tin ho so -->
                                                    <div class="modal fade" id="myModal" role="dialog">
                                                        <div class="modal-dialog">
                                                            <!-- Modal content-->
                                                            <div class="modal-content">
                                                                <form action="" name="formMucLuc">
                                                                    <div class="modal-header">
                                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                        <h4 class="modal-title">Thông tin hồ sơ</h4>
                                                                    </div>
                                                                    <div class="modal-body" style="min-height: 290px;">
                                                                        <div class="collapse in">
                                                                            <div class="form-group col-md-12">
                                                                                <div class="col-sm-3 col-xs-12">
                                                                                    <label for="" class="control-label pull-right">Phông</label>
                                                                                </div>
                                                                                <div class="col-sm-9">
                                                                                    <select name="selectphong" id="selectBox" class="col-sm-12 col-xs-12" ng-disabled="disablePhong">
                                                                                        <option class="tuychon" id="chon" value="">--Chọn phông--</option>
                                                                                        <option class="opphong" ng-repeat="n in danhsachphong" value="{{n.ID}}" id="{{n.ID}}">{{n.TENPHONG}}</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>

                                                                            <div class="form-group col-md-12">
                                                                                <div class="col-sm-3 col-xs-12">
                                                                                    <label for="" class="control-label pull-right">Mã mục lục(*)</label>
                                                                                </div>
                                                                                <div class="col-sm-9">
                                                                                    <input type="number" name="txtmamucluc" class="form-control" placeholder="Mã mục lục" ng-model="ml.mamucluc" ng-required="true" ng-disabled="disable_inputMamucluc">
                                                                                    <input type="hidden" value="{{ml.mamucluc}}" id="txtidmuclucCu" />
                                                                                    <span style="color:red;" ng-show="formMucLuc.txtmamucluc.$touched && formMucLuc.txtmamucluc.$invalid">Mã mục lục không được để trống</span>
                                                                                </div>
                                                                            </div>

                                                                            <div class="form-group col-md-12">
                                                                                <div class="col-sm-3 col-xs-12">
                                                                                    <label for="" class="control-label pull-right">Tên mục lục(*)</label>
                                                                                </div>
                                                                                <div class="col-sm-9">
                                                                                    <input type="text" class="form-control" placeholder="Tên mục lục" name="txttenmucluc" ng-required="true" ng-model="ml.tenmucluc">
                                                                                    <span style="color:red;" ng-show="formMucLuc.txttenmucluc.$touched && formMucLuc.txttenmucluc.$invalid">Tên mục lục không được để trống</span>
                                                                                </div>
                                                                            </div>

                                                                            <div class="form-group col-md-12">
                                                                                <div class="col-sm-3 col-xs-12">
                                                                                    <label for="" class="control-label pull-right">Mô tả</label>
                                                                                </div>
                                                                                <div class="col-sm-9">
                                                                                    <textarea class="col-md-12 col-xs-12" placeholder="Mô tả" ng-model="ml.mota"></textarea>
                                                                                </div>
                                                                            </div>

                                                                            <div class="form-group col-md-12">
                                                                                <div class="col-sm-3 col-xs-12">
                                                                                    <label for="" class="control-label pull-right">Ghi chú</label>
                                                                                </div>
                                                                                <div class="col-sm-9">
                                                                                    <textarea class="col-md-12 col-xs-12" placeholder="Ghi chú" ng-model="ml.ghichu"></textarea>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-primary" data-toggle="modal" ng-disabled="formMucLuc.$invalid" ng-click="save(state)">
                                                                            <i class="fa fa-save"></i>Ghi nhận
                                                                        </button>
                                                                        <button type="button" class="btn btn-warning" data-dismiss="modal">
                                                                            <i class="glyphicon glyphicon-log-in"></i>Thoát
                                                                        </button>
                                                                    </div>
                                                                </form>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- end Modal thong tin ho so -->
                                                </div>
                                                <div class="col-md-2">
                                                    <h4 class="text-center"><i class="fa fa-wrench"></i> Công cụ</h4>
                                                    <div class="">
                                                        <ul style="list-style: none; padding: 0;">

                                                            <li style="margin-bottom: 10px; padding-left: 10px;">
                                                                <a href="" style="font-size: 15px;">
                                                                    <i class="fa fa-save"> Lưu tìm kiếm</i>
                                                                </a>
                                                            </li>

                                                            <li style="margin-bottom: 10px; padding-left: 10px;">
                                                                <a href="product/kttltimkiemhoso/searchvb.html" style="font-size: 15px;">
                                                                    <i class="fa fa-search"> Tìm kiếm văn bản</i>
                                                                </a>
                                                            </li>

                                                            <li style="margin-bottom: 10px; padding-left: 10px;">
                                                                <a href="" style="font-size: 15px;">
                                                                    <i class="fa fa-search-plus">Tìm kiếm nâng cao</i>
                                                                </a>
                                                            </li>

                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Page Body -->
</div>


